services:
    postgresql:
        container_name: ms_pg_sql
        image: postgres:18
        environment:
            POSTGRES_USER: alibou
            POSTGRES_PASSWORD: alibou
            PGDATA: /data/postgres
            TZ: UTC
        volumes:
            - postgres:/data/postgres
        ports:
            - "5432:5432"
        networks:
            - microservices-net
        restart: unless-stopped

    pgadmin:
        container_name: ms_pgadmin
        image: dpage/pgadmin4:9
        environment:
            PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
            PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
            PGADMIN_CONFIG_SERVER_MODE: 'False'
            TZ: UTC
        volumes:
            - pgadmin:/var/lib/pgadmin
        ports:
            - "5050:80"
        networks:
            - microservices-net
        restart: unless-stopped

    zipkin:
        container_name: ms_zipkin
        image: openzipkin/zipkin:3
        environment:
            - TZ=UTC
        ports:
            - "9411:9411"
        networks:
            - microservices-net

    mongodb:
        container_name: ms_mongo_db
        image: mongo:8
        ports:
            - 27017:27017
        volumes:
            - mongo:/data
        environment:
            - MONGO_INITDB_ROOT_USERNAME=alibou
            - MONGO_INITDB_ROOT_PASSWORD=alibou
            - TZ=UTC

    mongo-express:
        container_name: ms_mongo_express
        image: mongo-express:1
        restart: unless-stopped
        ports:
            - 8081:8081
        environment:
            - ME_CONFIG_MONGODB_ADMINUSERNAME=alibou
            - ME_CONFIG_MONGODB_ADMINPASSWORD=alibou
            - ME_CONFIG_MONGODB_SERVER=mongodb

    zookeeper:
        container_name: ms_zookeeper
        image: confluentinc/cp-zookeeper:7.7.7
        environment:
            ZOOKEEPER_SERVER_ID: 1
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000
        ports:
            - "22181:2181"
        networks:
            - microservices-net

    kafka:
        container_name: ms_kafka
        image: confluentinc/cp-kafka:7.7.7
        ports:
            - "9092:9092"
        depends_on:
            - zookeeper
        environment:
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
            TZ: UTC
        networks:
            - microservices-net

    mail-dev:
        container_name: ms_mail_dev
        image: maildev/maildev:latest
        ports:
            - 1080:1080
            - 1025:1025

    keycloak:
        container_name: ms_keycloak
        image: quay.io/keycloak/keycloak:26.5
        ports:
            - 9098:8080
        environment:
            - KEYCLOAK_ADMIN=admin
            - KEYCLOAK_ADMIN_PASSWORD=admin
        networks:
            - microservices-net
        command:
            - "start-dev"

networks:
    microservices-net:
        driver: bridge

volumes:
    postgres:
    pgadmin:
    mongo:
